/* Sizes (Fonts, Padding, Margin etc) */
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2rem;
$xl-size: 3.2rem;
$xxl-size: 4rem;

/* Font Family */
$main-font-family: Helvetica, Arial, sans-serif;

/* colors */
$white: #f4f4f4;
$lightgray: rgba(255, 255, 255, 0.2);
$gray: #838282;
$dark: #222;

/* BreakPoints */
$medium-breakpoint: 1350px;
$small-breakpoint: 890px;
